<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152780753508-586v5kr51c0ubgm7po035u90pcb6fgop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152780753508-586v5kr51c0ubgm7po035u90pcb6fgop</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>152780753508-kbmeq3c2k8go3b9qci0matd2beb3opo0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuswQkLzev2y0Arrs83iH7sX4jQDL8wYg</string>
	<key>GCM_SENDER_ID</key>
	<string>152780753508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cofarmer.cofarmer</string>
	<key>PROJECT_ID</key>
	<string>agrifund-761fa</string>
	<key>STORAGE_BUCKET</key>
	<string>agrifund-761fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152780753508:ios:44a6fcc368db7a130d6d71</string>
</dict>
</plist>